body {
  background-color:black;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
    font-size: 50px;
    color:white;
    background-color:transparent;
    padding:40px 200px;
    border-radius:10px;
    border: 2px solid #fff;
    border-radius: 10px;
    animation: glowing 2s infinite;
}

@keyframes glowing {
    50% {
      box-shadow: 0 0 30px white;
    }
   
  }


